USE [master]
GO
/****** Object:  Database [customer_db]    Script Date: 6/20/2025 10:34:14 PM ******/
CREATE DATABASE [customer_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'customer_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\customer_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'customer_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\customer_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [customer_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [customer_db]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 6/20/2025 10:34:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_birthday] [date] NULL,
	[customer_status] [bit] NULL,
	[customerid] [int] IDENTITY(1,1) NOT NULL,
	[telephone] [varchar](12) NULL,
	[customer_name] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_birthday], [customer_status], [customerid], [telephone], [customer_name], [email], [password], [role]) VALUES (CAST(N'2025-06-16' AS Date), 1, 1, N'0909090909', N'nguyen', N'cus@gmail.com', N'$2a$10$f7NjQqqAm5QepeB3eq3Qx.P47p26jS984XiKoJNyQ.tJFBeVED7uW', N'CUSTOMER')
INSERT [dbo].[customer] ([customer_birthday], [customer_status], [customerid], [telephone], [customer_name], [email], [password], [role]) VALUES (CAST(N'2004-06-20' AS Date), 1, 3, N'string', N'string', N'admin@gmail.com', N'$2a$10$NX94zAmY70FB5B8UTTFDf.0CUZatPuurL/M.1qD7w54AFJX0S.fLq', N'ADMIN')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_dwk6cx0afu8bs9o4t536v1j5v]    Script Date: 6/20/2025 10:34:14 PM ******/
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [UK_dwk6cx0afu8bs9o4t536v1j5v] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD CHECK  (([role]='CUSTOMER' OR [role]='ADMIN'))
GO
USE [master]
GO
